h1 {
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 300%;
}
body {
    background-color: rgb(34, 215, 52);
}
.Sticky{
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.CZlXjDdjMySuXM2r76EdawAAAA?rs=1&pid=ImgDetMain&o=7&rm=3);
    width: 100%;
    height: 500%;
    background-repeat: no-repeat;
}