h1 {
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 300%;
}

h2{
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 250%;
}

.facts{
    color : black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: left;
    text-wrap: inherit;
    margin-right: 70%;
}

.description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background-color: rgb(34, 215, 52);
}

.Sticky{
    display: flex;
    justify-content: center;
    align-items: center;
}

.house{
    background-image: url("https://th.bing.com/th/id/OIP.3r2IO1WD2Okr_JGlgTcsbAHaEh?w=239&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3");
    background-repeat: no-repeat;
    background-position: cover;
}